:root {
    /* Primary colors */
    --color-primary-dark: #3a2c51; /* Deep purple */
    --color-primary-light: #25274d; /* Midnight blue */

    /* Secondary colors */
    --color-secondary-gold: #c0b283;
    --color-secondary-silver: #b5b5b7;

    /* Tertiary colors */
    --color-tertiary-black: #0e0c1b;
    --color-tertiary-gray: #464866;

    /* Utility colors */
    --color-utility-light: #ffffff; /* used for headings */
    --color-utility-dark: #1c1c3c; /* used for the main background */
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Garamond', serif;
    color: var(--color-utility-light);
    background: rgb(25,25,28);
    background: linear-gradient(180deg, rgba(25,25,28,0.95) 0%, rgba(25,25,28,1) 5%, rgba(28,28,60,1) 30%, rgba(28,28,60,1) 100%);
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times', serif;
}

.button-text, .label, .input-text {
    font-family: 'Arial', sans-serif;
}

button {
    background-color: var(--color-secondary-gold);
    border: none;
    color: var(--color-utility-light);
    padding: 0.625rem 1.25rem; /* equivalent to 10px 20px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 3.125rem; /* very round */
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--color-secondary-silver);
    transform: translateY(-0.125rem);
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 0.3125rem rgba(192, 192, 192, 0.5);
    }
    50% {
        box-shadow: 0 0 1.25rem rgba(192, 192, 192, 0.8);
    }
}

.glow {
    animation: glow 2s infinite;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    width: 100vw;
}

.fortune {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
    padding: 5rem 0;
}

.fortuneMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border: 1px solid var(--color-tertiary-black);
    max-width: 60%;
    min-height: 10%;
    height: auto;
    background-color: var(--color-secondary-gold);
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
}

.fortuneMessage h1 {
    margin: 0;
}

.fortuneMessageBox {
    display: flex;
    text-align: center;
    margin: 0 auto;
    border: 1px solid var(--color-tertiary-black);
    width: 90%;
    height: auto;
    background-color: var(--color-utility-light);
    border-radius: 3.125rem;
}

.fortuneMessageBox p {
    width: 80%;
    color: var(--color-tertiary-black);
    margin: 1rem auto;
    font-size: 1.5rem;
}

.fortuneButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 768px) {
    .fortune{
        width: 95vw;
    }

    .fortuneMessage {
        max-width: 90%;
        padding: 2rem 0;
    }

    .fortuneMessageBox p {
        font-size: 1rem;
    }

    .fortuneButtons {
        flex-direction: column;
        gap: 1rem;
    }
}